{% extends "layout.html" %}

{% block title %}
    Evolved
{% endblock %}

{% block main %}
  <form action="{{ url_for('evolved') }}" method="post">
    <h3>
        Hello fellow researcher! :)
    </h3>
    <h4>
        Your initial population size was: {{pop_size}}.
    </h4>
    <h4>
        Your initial mutation rate was: {{mutation_rate}}.
    </h4>
    <h4>
        Your initial meta-mutation rate was: {{meta_mutation}}.
    </h4>
    <h4>
        Now click below to see results!
    </h4>
    <fieldset>
        <div class="form-group">
            <button class="btn btn-default" type="submit">Get results</button>
        </div>
    </fieldset>
  </form>
{% endblock %}
