{% extends "layout.html" %}

{% block title %}
    Learn more
{% endblock %}

{% block main %}
          <h2>Questions so far:</h2>
          <h3>&nbsp;</h3>
          <h3>What if we&hellip;</h3>
          <h3>&hellip;reduce the deleterious effect of the mutation by introducing mutational bias, so it is more likely to mutate to a similar behaviour?</h3>
          <h3>&hellip;increase the need for adaptation by introducing a highly variable factor?</h3>
          <h3>&hellip;introduce targeted mutations and let the location of mutations evolve? Would it go for the sites that are better to mutate? If optimal mutation rate also varies within genome could the distribution of mutation rate be optimised? And would the targeted mutator outcompete a nonmutator?</h3>
          <h3>&hellip;repeated in vitro experiment in silicon? Like stress-induced mutagenesis and examples of microorganism that can seemingly optimise mutation rate?</h3>
          <h3>&hellip;use mutation rate as a categorical variable rather than a continuous one? Would it result in a dynamic interaction? Would the initial ratio of mutators/nonmutators change the dynamics of the two?</h3>
          <h3>&hellip;compare evolutionary game theory models of selfish non-selfish behaviour with mutator non-mutator dynamics?</h3>
          <h3>&nbsp;</h3>
          <h3>And many more to come!</h3>
{% endblock %}
